@use "@styles/breakpoints";

.container {
  max-width: 1440px;
  width: 100%;
  padding: var(--spacing-8);
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoints.smallerThanTablet {
    padding: var(--spacing-4);
  }
}
